# todo =====QtDesigner=====
#$PyInterpreterDirectory$\designer.exe
#$FilePath$
#$FileDir$
# sudo apt-get install qttools5-dev-tools   #linux
# sudo apt-get install qttools5-dev         #linux
# /usr/bin/designer                         #linux
# todo =====PyUIC=====
#$PyInterpreterDirectory$\pyuic5.exe
#$PyInterpreterDirectory$/pyuic5    #linux
#$FileName$ -o $FileNameWithoutExtension$.py
#$FileDir$
# todo =====PyRcc=====
#$PyInterpreterDirectory$\pyrcc5.exe
#$PyInterpreterDirectory$pyrcc5                 #linux
#$FileName$ -o $FileNameWithoutExtension$_rc.py
#$FileDir$
# todo =====.spec=====
# $PyInterpreterDirectory$\pyinstaller.exe
# $PyInterpreterDirectory$/pyinstaller          #linux
# sudo apt-get install python3.11-dev           #linux
# -y $FileName$
#--clean -y  $FileName$
# $FileDir$
# todo ======D:\PythonDev\pyside2\venv\Lib\site-packages\PyInstaller\building\utils.py  line:435========
#             except PermissionError:
#                 os.system(f'rmdir /S /Q {path}')

PyQt5==5.15.10
PyQt5-stubs~=5.15
PyQt5Designer~=5.14.1 # only windows
pyinstaller==6.1.0
tinyaes~=1.0.3
PyYAML~=6.0.1
requests==2.31.0
openpyxl==3.1.2
psutil==5.9.6
pyserial~=3.5
setuptools==68.2.2
PyVISA~=1.13.0
nidaqmx~=0.8.0
future==0.18.3
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
zxing~=1.0
numpy==1.26.1
matplotlib==3.8.0
paramiko~=3.3.1
pyodbc==5.0.1
PyMySQL==1.1.0
python-can==4.2.2
PyAutoGUI~=0.9.54
tk~=0.1.0 # only Liunx